#login {
    margin: auto; /* Centra el login horizontalmente en la pantalla */
    margin-top: 200px;
    max-width: 400px; /* Establece el ancho máximo del login */
    padding: 20px; /* Añade espacio alrededor del login */
    border-radius: 10px; /* Agrega bordes redondeados al login */
  }


#texto-bienvenida {
    text-align: center;
    margin-top: 50px;
    font-size: xx-large;
}


  